@font-face {
    font-family: Raleway;
    src: url(./dist/Raleway-Regular.ttf);
  }
  @font-face {
    font-family: Lora;
    src: url(./dist/Lora-Regular.ttf);
  }

h3 {
    font-family: 'Lora';
    margin: 15vh 30vw 0 10vw;
}
body {
    margin: 0;
    background: #fff8e1;
    color: #212121;
}